<div class="container">
  <div class="text-center">
  <h1 class="p-3"><%= @cocktail.name %></h1>
  <h3>Ingredients:</h3>
  <ul class="list-group p-3">
    <% @cocktail.doses.each do |dose| %>
      <li class="list-group-item"><%= dose.description %> | <%= dose.ingredient.name %></li>
    <% end %>
  </ul>
</div>

  <div class="row justify-content-around">
    <div class="col-6">
      <p class="text-center">Add a new ingredient to your cocktail</p>
      <%= simple_form_for([@cocktail, @dose]) do |f| %>
        <%= f.input :description %>
        <%= f.input :ingredient_id, collection: Ingredient.all %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
  <%= link_to 'All Cocktails', cocktails_path, class: 'btn btn-primary' %>
</div>




